/* Main */

position: relative;
width: 1920px;
height: 1080px;

/* BG */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

/* Mask Linear */

position: absolute;
visibility: hidden;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #ffffff 100%);

/* Group */

position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 0px;

/* BG 1 */

position: absolute;
width: 1920px;
left: calc(50% - 1920px / 2);
top: 0px;
bottom: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(BG.png);
background-blend-mode: darken, normal;

/* Canvas */

position: absolute;
width: 1864px;
height: 1464px;
left: 28px;
top: 87px;

/* Canvas */

position: absolute;
width: 1864px;
left: calc(50% - 1864px / 2);
top: 87px;
bottom: -471px;

background:
    linear-gradient(270deg, #2b2b2b 0%, #3c3c3c 1.53%, #3c3c3c 98.06%, #2b2b2b 100%),
    linear-gradient(180deg, #2b2b2b 0%, #3c3c3c 5.29%, #3c3c3c 94.71%, #2b2b2b 100%);
border-radius: 0px;

/* Grid */

position: absolute;
width: 1864px;
left: calc(50% - 1864px / 2);
top: 87px;
bottom: -471px;

background: url(grid_white.png);

/* Gradient */

position: absolute;
width: 1864px;
left: calc(50% - 1864px / 2);
top: 87px;
bottom: -471px;

background:
    linear-gradient(
        270deg,
        #2b2b2b 0%,
        rgba(60, 60, 60, 0) 1.67%,
        rgba(60, 60, 60, 0) 97.64%,
        #2b2b2b 100%
    ),
    linear-gradient(
        180deg,
        #2b2b2b 0%,
        rgba(78, 78, 78, 0) 5.06%,
        rgba(78, 78, 78, 0) 94.55%,
        #2b2b2b 100%
    );

/* DashLine */

position: absolute;
width: 1864px;
left: calc(50% - 1864px / 2);
top: 87px;
bottom: -471px;

border: 1px dashed #ffffff;

/* Panel */

position: absolute;
width: 1504px;
height: 55px;
left: 0px;
top: 16px;

/* Header */

position: absolute;
width: 1504px;
height: 55px;
left: 0px;
top: 16px;

/* title */

position: absolute;
width: 419px;
height: 55px;
left: 0px;
top: 16px;

/* Plate */

position: absolute;
width: 419px;
height: 55px;
left: 0px;
top: 16px;

/* Plate */

position: absolute;
width: 419px;
height: 55px;
left: 0px;
top: 16px;

background: #2b2b2b;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* decoration */

position: absolute;
width: 65px;
height: 55px;
left: 0px;
top: 16px;

/* Rectangle */

position: absolute;
width: 53px;
height: 55px;
left: 0px;
top: 16px;

background: #eefd1c;

/* Rectangle */

position: absolute;
width: 4px;
height: 16.42px;
left: 61px;
top: 16px;

background: #e3007e;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Rectangle */

position: absolute;
width: 4px;
height: 38.58px;
left: 61px;
top: 32.42px;

background: #00ffff;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Text */

position: absolute;
width: 42px;
height: 14px;
left: 347px;
bottom: 1025px;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;
/* identical to box height */

color: #a4a4a4;

/* Text */

position: absolute;
width: 247px;
height: 28px;
left: 82px;
top: 29px;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.03em;

color: #ffffff;

/* Settings */

position: absolute;
width: 1057px;
height: 55px;
left: 447px;
top: 16px;

/* Line  */

position: absolute;
width: 53px;
height: 0px;
left: 951px;
bottom: 1062px;

border: 1px solid #ffffff;
transform: rotate(90deg);

/* botton frame */

position: absolute;
width: 55px;
height: 55px;
right: 726px;
top: 16px;

/* plate */

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #4e4e4e;

/* Icon */

position: absolute;
height: 23.84px;
left: 28.26%;
right: 28.4%;
top: calc(50% - 23.84px / 2);

border: 3px solid #eefd1c;

/* Line  */

position: absolute;
width: 43.84px;
height: 0px;
left: 11px;
top: 11px;

transform: rotate(45deg);

/* botton Zoom */

position: absolute;
width: 284px;
height: 55px;
left: 1220px;
top: 16px;

/* plate */

position: absolute;
width: 284px;
height: 55px;
right: 416px;
top: 16px;

background: #4e4e4e;
border-radius: 25px;

/* icon */

position: absolute;
width: 25px;
height: 25px;
right: 656px;
top: 31px;

background: #ffffff;

/* Bar */

position: absolute;
width: 10px;
height: 197px;
left: 1283px;
top: 38px;

transform: rotate(90deg);

/* Bar */

position: absolute;
width: 10px;
height: 197px;
left: calc(50% - 10px / 2 + 328px);
bottom: 845px;

background: #3c3c3c;
border-radius: 25px;
transform: rotate(90deg);

/* Bar */

position: absolute;
height: 105.15px;
left: 66.82%;
right: 32.66%;
bottom: 936.85px;

background: #dadada;
border-radius: 25px;
transform: rotate(90deg);

/* botton Redo */

position: absolute;
width: 55px;
height: 55px;
right: 807px;
top: 16px;

/* plate */

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #4e4e4e;

/* icon */

position: absolute;
width: 25.14px;
left: calc(50% - 25.14px / 2 + 0px);
top: 17px;
bottom: 16px;

background: #eefd1c;

/* botton Undo */

position: absolute;
width: 55px;
height: 55px;
right: 888px;
top: 16px;

/* plate */

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

background: #4e4e4e;

/* icon */

position: absolute;
width: 25.14px;
left: calc(50% - 25.14px / 2 + 0px);
top: 17px;
bottom: 16px;

background: #eefd1c;

/* botton Export */

position: absolute;
width: 58px;
height: 55px;
right: 1247px;
top: 16px;

/* plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4e4e4e;
border-radius: 8px;

/* icon */

position: absolute;
height: 25px;
left: 22.41%;
right: 24.14%;
top: 15px;

background: #ffffff;

/* botton Import */

position: absolute;
width: 58px;
height: 55px;
right: 1331px;
top: 16px;

/* plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4e4e4e;
border-radius: 8px;

/* icon */

position: absolute;
height: 25px;
left: 22.41%;
right: 24.14%;
top: 15px;

background: #ffffff;

/* botton Settings */

position: absolute;
width: 58px;
height: 55px;
right: 1415px;
top: 16px;

/* plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4e4e4e;
border-radius: 8px;

/* icon */

position: absolute;
height: 25px;
left: 29.31%;
right: 29.31%;
top: 15px;

background: #ffffff;

/* botton Area */

position: absolute;
width: 226px;
height: 55px;
right: 995px;
top: 16px;

/* plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* stable */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 7.27%;

background: #4e4e4e;
border-radius: 8px 8px 0px 0px;

/* stabe */

position: absolute;
left: 0%;
right: 0%;
top: 92.73%;
bottom: 0%;

background: #eefd1c;
border-radius: 0px 0px 8px 8px;

/* text */

position: absolute;
width: 82px;
left: calc(50% - 82px / 2);
top: 27.27%;
bottom: 30.91%;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;

color: #ffffff;

/* botton */

position: absolute;
height: 8px;
left: 88.05%;
right: 6.19%;
top: 23px;

background: #ffffff;

/* icon */

position: absolute;
height: 25px;
left: 9.29%;
right: 83.56%;
top: 15px;

background: #ffffff;

/* botton */

position: absolute;
height: 39px;
left: 97.97%;
right: 0.78%;
top: calc(50% - 39px / 2 + 289.5px);

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

/* botton */

position: absolute;
left: 0%;
right: -62.5%;
top: 0%;
bottom: 49.26%;

background: #eefd1c;
transform: rotate(90deg);

/* botton */

position: absolute;
width: 24px;
height: 39px;
left: 940.5px;
top: 1041px;

transform: rotate(90deg);

/* botton */

position: absolute;
left: 0%;
right: -62.5%;
top: 0%;
bottom: 49.26%;

background: #eefd1c;
transform: rotate(180deg);

/* View Select */

position: absolute;
width: 474px;
height: 32px;
left: 0px;
top: 1049px;

/* View Bar */

position: absolute;
width: 474px;
height: 32px;
left: 0px;
bottom: -1px;

background: #4e4e4e;
border-radius: 0px 25px 0px 0px;

/* Text */

position: absolute;
width: 90px;
height: 16px;
left: 344px;
bottom: 5px;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;

color: #a4a4a4;

/* botton */

position: absolute;
width: 80px;
height: 26px;
left: 80px;
bottom: 2px;

/* button plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border-radius: 5px;

/* Text */

position: absolute;
left: 10%;
right: 10%;
top: 15.38%;
bottom: 11.54%;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #ffffff;

/* botton */

position: absolute;
width: 80px;
height: 26px;
left: 170px;
bottom: 2px;

/* button plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border-radius: 5px;

/* Text */

position: absolute;
left: 8.75%;
right: 11.25%;
top: 15.38%;
bottom: 11.54%;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #ffffff;

/* botton */

position: absolute;
width: 80px;
height: 26px;
left: 259px;
bottom: 2px;

/* button plate */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border-radius: 5px;

/* Text */

position: absolute;
left: 10%;
right: 10%;
top: 15.38%;
bottom: 11.54%;

font-family: 'HarmonyOS Sans TC';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #ffffff;

/* Line  */

position: absolute;
width: 19px;
height: 0px;
left: 165px;
bottom: 24px;

border: 1px solid #ffffff;
transform: rotate(90deg);

/* Line  */

position: absolute;
width: 19px;
height: 0px;
left: 254px;
bottom: 24px;

border: 1px solid #ffffff;
transform: rotate(90deg);
